*{
    margin:0;
    font-family: 'Josefin Sans', sans-serif;

}

body
{
    background-color: tomato;
    color: white;
}

div > .header
{
    text-align: center;
    padding: 30px 20px;
    font-size: 2rem;
}


div > #timer
{
    text-align: center;
    font-size: 6em;
    margin-top: 5rem;
}

div > #date 
{
    text-align: center;
    font-size: 3rem;
    font-weight: 300;

}

.line 
{
    width: 30%;
    margin: 0 auto;
    margin-top: 10px;
    height: 3px;
    background-color: white;
}

@media screen and (max-width:768px)
{
    div > .header
    {
        font-size:1rem;
    }
    div > #timer
    {
        font-size: 4rem;
    }
}